body {
	min-width: 357px;
	overflow-x: hidden;
}

h1, h2, h3, h4 {
	color: #555;
}

h1 {
	padding: 4px;
	margin-right: 8px;
	background-color: #a7d7f9;
}

h2 {
	border-bottom: 2px solid #a7d7f9;
}

#result {
	width: 100%;
	min-height: 40px;
	height: auto;
}
